body,
html {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #404948;
}

.react-icons {
  color: #ffffff;
  vertical-align: middle;
  height: 3em;
  width: 3em;
  transition: ease-in-out 0.2s;
}

.react-icons:hover {
  height: 4em;
  width: 4em;
}
