# VSCode Files
.prettierignore

# Client
## dependencies
/client/node_modules

## production
/client/build


# Server
lambda-backend/production-env.json

## dependencies
lambda-backend/node_modules

## Testing
lambda-backend/testing