# General
.env

# Client
## dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

## testing
/client/coverage

## production
/client/build

## misc
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# Server
## dependencies
/node_modules