.results-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
}

.results-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.results-mood-wrapper {
  font-size: 25px;
  margin-bottom: 1vh;
}

.bold {
  font-weight: bolder;
}

.results-top-choice-wrapper {
  margin-bottom: 2vh;
}

#leaflet-map {
  width: 100%;
}
