.landing-wrapper {
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.description-wrapper {
  color: #ffffff;
  margin: 1vh 30vw;
  font-family: "Open Sans";
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mobile */
.landing-wrapper-mobile {
  background-size: cover;
  background-position: right;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.description-wrapper-mobile {
  color: #ffffff;
  margin: 1vh 5vw;
  font-size: 1.1em;
  font-family: "Open Sans";
  text-align: center;
}

.description-mobile {
  margin-bottom: 2vh;
}

.directions-wrapper-mobile {
  font-size: 1.1em;
}

.directions-wrapper-mobile ul {
  list-style-position: inside;
  padding-left: 0;
}

.directions-wrapper-mobile li {
  list-style-type: none;
}

.button-wrapper-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
}
