.image {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  object-fit: cover;
  box-shadow: inset 0px 0px 40vh #000000;
}

.full {
  transition: opacity 400ms ease 0ms;
}

.thumbnail {
  filter: blur(20px);
  transform: scale(1.1);
  transition: visibility 0ms ease 400ms;
}
