.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: #ffffff;
  border-width: 5px;
  font-family: Roboto, sans-serif;
  font-size: 2.1em;
  font-weight: 1000;
  padding: 1em 2em;
  height: 2.2vw;
  transition-duration: 0.2s;
  background-color: #ffffff;
  mix-blend-mode: screen;
}

.button:hover {
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
}

.inactive-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: #ffffff73;
  border-width: 5px;
  font-family: Roboto, sans-serif;
  font-size: 2.1em;
  font-weight: 1000;
  padding: 1em 2em;
  height: 2.2vw;
  transition-duration: 0.2s;
  background-color: #ffffff73;
}
