.description-wrapper {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 1.2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition-duration: 0.2s;
  text-shadow: 0.1em 0.1em black;
}

.description-wrapper:hover {
  cursor: context-menu;
}
