.footer-wrapper {
  color: #ffffff;
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.my-information {
  font-size: 14px;
  margin-bottom: 0.5vh;
}
