#logo {
  margin-top: 20vh;
  margin-left: 40vw;
  margin-right: 40vw;
  color: #ffffff;
  font-size: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.1s;
}

#logo:hover {
  text-shadow: 0.05em 0.05em black;
}

#logop1 {
  font-family: "Pacifico", serif;
  margin-right: 0.15em;
}

#logop2 {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 1.25em;
}

#logop2:hover {
  animation-name: colorchange;
  animation-duration: 4s;
}

@keyframes colorchange {
  0% {
    color: white;
  }
  14% {
    color: red;
  }
  30% {
    color: yellow;
  }
  45% {
    color: green;
  }
  60% {
    color: blue;
  }
  75% {
    color: blueviolet;
  }
  90% {
    color: black;
  }
  100% {
    color: white;
  }
}
