.landing {
  overflow: hidden;
  height: 100vh;
  box-shadow: inset 0px 0px 40vh #000000;
  z-index: 1;
  position: relative;
}

#landing-background {
  position: absolute;
  z-index: -1;
  top: 0;
}

.logo-wrapper {
  margin-top: 20vh;
}
.description-wrapper {
  margin: 0 4vw;
}
.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 8vh;
}
