.landing-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.471), rgba(0, 0, 0, 0.471)),
    url(../../assets/pasta-basil.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.description-wrapper {
  color: #ffffff;
  margin: 1vh 30vw;
  font-family: "Open Sans";
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-button {
  color: #ffffff;
  font-family: "Open Sans";
  border-style: solid;
  border-color: #ffffff;
  border-width: 3px;
  padding: 4vh 5vw;
  transition-duration: 0.3s;
}

.submit-button:hover {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}
